In [10]:
#to check if a string is a palindrome
string = input("Give a string :")
reverse = string[::-1]
if string==reverse:
    print(f"{string} is a palindrome.")
else:
    print(f"{string} is not a palindrome.")

Give a string :icici
icici is a palindrome.

In [11]:
#to find factorial of a number
number = int(input("Give a number :"))
fact = 1
for i in range(1,number+1):
    fact *= i
print(f"factorial of given number is {fact}")

Give a number :6
factorial of given number is 720

In [12]:
#to find the largest element in list
List = input("Enter a list of numbers:").split()
largest_element = max(List)
print(f"{largest_element} is the largest.")

Enter a list of numbers:12 3 45 56 84 5 26 38
84 is the largest.

In [13]:
#to reverse a string
string = input("Give a string :")
reverse = string[::-1]
print(f"{reverse} is a reverse of given string.")

Give a string :datascience
ecneicsatad is a reverse of given string.

In [14]:
# to count frequency of each element in list
list = input("Enter a list :").split()
freq = {}
for i in list:
    if i in freq:
        freq[i] += 1
    else:
        freq[i]=1
print(freq)

Enter a list :2 3 4 2 6 4 7 4 9 8 5 4 7 5 2 1
{'2': 3, '3': 1, '4': 4, '6': 1, '7': 2, '9': 1, '8': 1, '5': 2, '1': 1}

In [15]:
# check a number is prime or not
number = int(input("Enter a number:"))
prime = True
if number<=1:
    prime = False
if number>1:
    for i in range(2,(number//2)+1):
        if (number%i==0):
            prime = False
            break
        else:
            prime
if prime:
    print(f"{number} is a prime")
else:
    print(f"{number} is not a prime.")

Enter a number:23
23 is a prime

In [16]:
# to find the common elements between two lists.
list1 = input("enter elements seperated by spaces:").split()
list2 = input("enter elements seperated by spaces:").split()
s1 = set(list1)
s2 = set(list2)
s3 = s1.intersection(s2)
print(f"{s3} - the common elements between given two lists.")

enter elements seperated by spaces:2 3 4 5 6 3 4 7 8 9
enter elements seperated by spaces:3 5 6 7 18 15 15 8 9
{'3', '8', '7', '5', '6', '9'} - the common elements between given two lists.

In [17]:
# to find the second largest number in a list
list = input("enter elements seperated by spaces:").split()
list1 = sorted(set(list))
second_largest = list1[-2]
print(f"{second_largest} is the second largest number in a list.")

enter elements seperated by spaces:23 3 45 73 17 39 56 75
73 is the second largest number in a list.

In [18]:
#to remove duplicates in a list.
original_list = input("Enter elements seperated by spaces:").split()
print(original_list)
new = set(original_list)
print(new)

Enter elements seperated by spaces:2 3 4 3 6 5 7 5 3 9 8 2 1 3 2
['2', '3', '4', '3', '6', '5', '7', '5', '3', '9', '8', '2', '1', '3', '2']
{'4', '3', '8', '2', '5', '7', '6', '1', '9'}

In [19]:
# to counting vowels in word
word = input("Enter a word: ")
count = 0
vowels = ['a','e','i','o','u','A','E','I','O','U']
for i in word:
    if i in vowels:
        count += 1
print(f"there are {count} vowels in given word.")

Enter a word: abid
there are 2 vowels in given word.

In [20]:
# to count the number of Occurrences of a character in a string
word = input("Enter a string: ")
char = input("Enter a character in the above string: ")
occurrences = word.count(char)
print(f"the number of Occurences of {char} in string is {occurrences}. ")

Enter a string: datascientist
Enter a character in the above string: i
the number of Occurences of i in string is 2.

In [21]:
#to find the maximum number in a list.
list = input("enter elements seperated by spaces:").split()
max_num = max(list)
print(f"the minimum number in the given list is {max_num}")

enter elements seperated by spaces:23 71 52 38 19 67 97 56
the minimum number in the given list is 97

In [22]:
#to find the minimum number in a list.
list = input("enter elements seperated by spaces:").split()
min_num = min(list)
print(f"the minimum number in the given list is {min_num}")

enter elements seperated by spaces:2 3 4 5 34 64 7 86 34
the minimum number in the given list is 2

In [23]:
# smallest number among 3 numbers
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
c=int(input("Enter a number:"))
d = min(a,b,c)
print(d,"is the smallest number.")

Enter a number:34
Enter a number:87
Enter a number:46
34 is the smallest number.

In [24]:
# to calculate the square of a given number.
num = int(input("Enter a number:"))
square = num * num
print(f"Square of given number is {square}")

Enter a number:7
Square of given number is 49

In [25]:
#to calculate lcm of given two numbers
num1=int(input("Enter a number:"))
num2=int(input("Enter a number:"))
lcm = max(num1,num2)
while True:
    if lcm%num1 == 0 and lcm%num2 == 0:
        break
    lcm += 1
print(f"the lcm of given two numbers is {lcm}")

Enter a number:12
Enter a number:15
the lcm of given two numbers is 60

In [4]:
#to copy one string to another
string1 = input("Enter a string:")
string2 = str(string1)
print(f"copied string is {string2}")

Enter a string:abid
copied string is abid

In [7]:
# to sort characters of a string in ascending order
string1 = input("Enter a string:")
ascending =''.join(sorted(string1))
print(f"Ascending order of given string: {ascending}")

Enter a string:abid
Ascending order of given string: abdi

In [26]:
# to sort characters of a string in descending order
string1 = input("Enter a string:")
ascending =''.join(sorted(string1))
descending = ascending[::-1]
print(f"descending order of given string: {descending}")

Enter a string:afroz
descending order of given string: zrofa

In [9]:
# swapping of 2 numbers without using temporary variable.
a = int(input("Enter a :"))
b = int(input("Enter b :"))
a,b = b,a
print("a =",a,"b =",b)

Enter a :23
Enter b :46
a = 46 b = 23